<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn14AznhVDK0vyUTgfdTWkF2zCgRQ-O1E</string>
	<key>GCM_SENDER_ID</key>
	<string>1002414764971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyappfirst</string>
	<key>PROJECT_ID</key>
	<string>udemy-flutter-sns-63701</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-flutter-sns-63701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002414764971:ios:09f855eb9b5ab0549918ee</string>
</dict>
</plist>